.Header {
  border-bottom: 2px #2b3457 solid;
}
.header-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}
.location:nth-child(1) {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}
.location {
  color: white;
  text-align: center;
}
.menu-button:nth-child(2) {
  order: 0;
  flex: 0 1 auto;
  align-self: center;
}
.offcanvas.offcanvas-end {
  top: -90px !important;
  right: 0;
  width: var(--bs-offcanvas-width);
  border-left: none !important;
  transform: translateX(100%);
}
.offcanvas {
  position: relative !important;
  left: 920px;
  bottom: 0px;
  z-index: var(--bs-offcanvas-zindex);
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 735px;
  color: white !important;
  visibility: hidden;
  background-color: #2b3457 !important;
  background-clip: padding-box;
  outline: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: transform 0.3s ease-in-out;
}
.offcanvas-title {
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 25px;
}
.bi-list {
  color: white;
  font-size: 40px;
}
.bi-x-lg {
  font-size: 30px;
  color: white;
  background-color: transparent;
  border: none;
  transition: 500ms ease-in-out;
}
.bi-x-lg:hover {
  background-color: #181d31;
  padding: 0px 5px;
  border-radius: 50%;
}
.offcanvas-body > .nav > .nav-item > .nav-link {
  color: white;
  font-size: 20px;
  transition: 500ms ease-in-out;
  cursor: pointer;
}
.offcanvas-body > .nav > .nav-item > .nav-link:hover {
  color: white;
  font-size: 25px;
}
