.project-container {
  width: 1200px;
  height: 655px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.project-menu:nth-child(1) {
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;
}
.project-card-container:nth-child(2) {
  order: 0;
  flex: 6 1 auto;
  align-self: stretch;
}
.project-menu {
  border-right: 1px solid #242c49;
  margin: 0px auto;
  height: inherit;
}
.accordion {
  margin-right: 25px;
}
.form-floating {
  margin-top: 25px;
  margin-right: 25px;
}
.project-card-container {
  margin: 25px auto;
  margin-left: 10px;
  height: 620px;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
}
.project-card {
  width: 425px;
  height: 206px !important;
  margin: 10px;
  margin-top: 0px;
}
.card-icon-container {
  margin: auto !important;
}
.project-icon {
  font-size: 50px;
  margin: auto 15px;
  color: black;
}
.bi-globe {
  cursor: pointer;
}
.link-container {
  width: 305px;
  margin: 10px auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.project-name {
  font-weight: bold;
}
.description-container {
  height: 70px;
  margin: 10px auto;
  overflow: hidden;
}
.project-last-updated {
  margin: auto;
}

/* scroll bar */
.project-card-container::-webkit-scrollbar {
  width: 10px;
}
.project-card-container::-webkit-scrollbar-track {
  background: #181d31;
}
.project-card-container::-webkit-scrollbar-thumb {
  background: #242c49;
}

/* responsive stuff */
@media screen and (max-width: 450px) {
  .project-container {
    width: auto;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .project-menu {
    border-right: none;
    margin: auto;
    margin-top: 20px;
    height: inherit;
  }
  .accordion {
    margin-right: 0px;
  }
  .form-floating {
    margin-top: 0px;
    margin-right: 0px;
  }
  .project-card-container {
    margin: 25px auto;
    margin-left: 10px;
    height: 550px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }
  .project-card {
    width: 250px;
    height: auto !important;
    margin: 10px;
  }
  .link-container {
    width: auto;
    margin: 10px auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
