.project-conatiner {
  width: 1200px;
  height: 550px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.project-menu:nth-child(1) {
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;
}
.project-card-container:nth-child(2) {
  order: 0;
  flex: 6 1 auto;
  align-self: stretch;
}
.project-menu {
  margin: 10px;
}
.project-card-container {
  height: inherit;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.project-card {
  width: 425px;
  height: 206px !important;
  margin: 10px;
}
.card-icon-container {
  margin: auto !important;
}
.project-icon {
  font-size: 50px;
  margin: auto 15px;
  color: black;
}
.bi-globe {
  cursor: pointer;
}
.link-container {
  width: 305px;
  margin: 10px auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.project-name {
  font-weight: bold;
}
.description-container {
  height: 70px;
  margin: 10px auto;
  overflow: hidden;
}
.project-last-updated {
  margin: auto;
}

/* scroll bar */
.project-card-container::-webkit-scrollbar {
  width: 10px;
}
.project-card-container::-webkit-scrollbar-track {
  background: #181d31;
}
.project-card-container::-webkit-scrollbar-thumb {
  background: #242c49;
}
